* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

.allContent {
    color: #fafafa;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    background-image: url('../chalkboard.jpg');
    background-repeat: no-repeat repeat;
    background-size: 100%;
}

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: fit-content;
    font-family: 'Fredericka the Great', serif;
    font-size: calc(2.2rem + 1.3vw);
    color: #fafafa;
}

.banner span {
    font-size: calc(2.5rem + 1.5vw);
    color: #fafafa;
}

.banner span:hover {
    color: #008b8b;
}

.stats {
    position: fixed;
    top: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: calc(5.5rem + 3.5vw) 0 0 calc(1.2rem + 1vw);
    padding: 0 calc(1.2rem + 1vw) 0 0;
    height: 50%;
    max-height: fit-content;
    width: fit-content;
    gap: calc(1.6rem + 1.2vh);
    border-right: .3rem solid #fafafa;
    font-size: calc(1rem + .8vw);
    font-family: 'Fredericka the Great', serif;
}

.stats a {
    font-size: calc(1.5rem + .7vw);
    padding: calc(.5rem + .3vw) calc(1.5rem + .7vw);
    border: .2rem dashed #fafafa;
    border-radius: calc(1.5rem + .5vw);
    color: #fafafa;
}

.stats a:hover {
    border: .2rem dashed #008b8b;
    font-weight: bold;
    color: #008b8b;
}

.mainContent {
    padding: calc(7rem + 4vw) 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - calc(7rem + 4vw));
}

.mainContent h2 {
    font-size: calc(3.2rem + 1.6vw);
    font-weight: normal;
    font-family: 'Fredericka the Great', serif;
}

.link-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-button {
    /*font-family: 'Splash', cursive;*/
    font-family: 'Fredericka the Great', serif;
    font-size: calc(3.5rem + 2.2vw);
    color: #fafafa;
}

.play-button:hover {
    color: #008b8b;
    font-size: calc(4rem + 2.5vw);
}

.sideContent {
    position: absolute;
    margin: calc(1.5rem + .8vw) 0 0 calc(1.2rem + 1vw);
    padding: calc(.3rem + 1.6vw) calc(.5rem + 1.8vw);
    display: flex;
    flex-direction: column;
    gap: calc(.3rem + 1.6vw);
    justify-content: space-evenly;
    border: .5rem solid #fafafa;
    font-size: calc(.3rem + 1.6vw);
    font-family: 'Fredericka the Great', serif;
}

.div-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.message h2 {
    font-family: 'Fredericka the Great', serif;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.2rem;
    margin: 3rem auto;
    /*font-family: 'Splash', cursive;*/
    font-family: 'Fredericka the Great', serif;
    font-size: calc(1.8rem + 1.2vw);
}

form input,select,button {
    text-align: center;
    width: calc(9rem + 14vw);
    height: calc(3rem + 1.2vw);
    font-size: calc(1.5rem + .7vw);
    border-radius: calc(1.5rem + .5vw);
}

form button {
    font-family: 'Fredericka the Great', serif;
    background-color: #fafafa00;
    border: .2rem dashed #fafafa;
    color: #fafafa;
}

form button:hover {
    background-color: #fafafa00;
    border: .3rem dashed #008b8b;
    font-weight: bold;
    color: #008b8b;
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: calc(1rem + 1.1vw);
    margin: 3.5rem auto;
    gap: calc(.8rem + .4vw);
}

.message a {
    text-decoration: none;
    font-family: 'Fredericka the Great', serif;
    color: #fafafa;
    font-style: italic;
    font-size: calc(.9rem + 1vw);
}

.message a:hover {
    text-decoration: none;
    color: #008b8b;
    font-weight: bold;
    font-size: calc(1.1rem + 1.2vw);
}

.message > p {
    font-family: 'Fredericka the Great', serif;
    font-size: calc(1rem + 1.1vw);
}

.message img {
    width: 25vw;
    margin-bottom: calc(2rem + 1.2vw);
}

.tableScore {
    font-family: 'Fredericka the Great', serif;
    color: #fafafa;
    border: .1rem solid #fafafa;
    text-align: center;
    margin: 2rem 0 calc(5rem + 3.5vw) 0;
}

.scoreTitleCell {
    font-weight: bold;
    font-size: calc(1rem + 1vw);
    border-right: .1rem solid #fafafa;
}

.lastScoreTitleCell {
    font-weight: bold;
    font-size: calc(1rem + 1vw);
}

.scoreCell {
    padding: calc(.6rem + .4vw) calc(1rem + .8vw);
    font-size: calc(.8rem + .9vw);
    border-right: .1rem solid #fafafa;
}

.lastScoreCell {
    padding: calc(.6rem + .4vw) calc(1rem + .8vw);
    font-size: calc(.8rem + .9vw);
}

.red {
    color: #ff0000;
}

.alert {
    color: #ff4500;
}