<!DOCTYPE html>
{{define "home"}}
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/styles.css" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pangolin&family=Permanent+Marker&family=Solitreo&family=Splash&display=swap" rel="stylesheet">
        <title>Espace perso - Hangman</title>
    </head>
    <body>
        <div class="allContent">
            <header class="banner">
                <h1>Hangman Web</h1>
            </header>
            <div class="div-center">
                <h2>Mon espace personnel</h2>
                <div class="link-content">
                    <a href="/hangman/init" class="play-button">Jouer</a>
                </div>
                <a href="/user/logout/">Se déconnecter</a>
            </div>
        </div>
    </body>
</html>
{{end}}