<!DOCTYPE html>
{{define "index"}}
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/styles.css" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Homemade+Apple&display=swap" rel="stylesheet">
        <!--<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pangolin&family=Permanent+Marker&family=Solitreo&family=Splash&display=swap" rel="stylesheet">-->
        <title>Accueil - Hangman</title>
    </head>
    <body>
        <div class="allContent">
            <header class="banner">
                <h1>Hangman Web</h1>
            </header>
            <div class="link-content">
                <a href="/user/login" class="play-button">Se connecter</a>
            </div>
            <div class="message">
                <p>Vous n'avez pas de compte ?</p><a href="/user/create">Inscrivez-vous ici !</a>
            </div>
        </div>
    </body>
</html>
{{end}}