<!DOCTYPE html>
{{define "login"}}
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/styles.css" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Homemade+Apple&display=swap" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="../static/favicon.png">
        <title>Login - Hangman</title>
    </head>
    <body>
        <div class="allContent">
            <header class="banner">
                <h1>Hangman Web</h1>
            </header>
            <div class="div-center">
                <div>
                <form action="/user/login/check" method="post">
                    <label for="username">Pseudo :</label>
                    <input type="text" name="username" id="username" placeholder="Pseudo" required autofocus>
                    <label for="password">Mot de passe :</label>
                    <input type="password" name="password" id="password" required>
                    <button type="submit">Valider</button>
                    <!--<a href="/user/create" class="play-button">S'inscrire</a>-->
                </form>
                <form action="/user/create" method="post">
                    <button type="submit">S'inscrire</button>
                </form>
                </div>
            </div>
        </div>
    </body>
</html>
{{end}}