<!DOCTYPE html>
{{define "modify"}}
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/styles.css" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Homemade+Apple&display=swap" rel="stylesheet">
        <title>Modification utilisateur - Hangman</title>
    </head>
    <body>
        <div class="allContent">
            <header class="banner">
                <h1>Hangman Web</h1>
            </header>
            <div class="mainContent">
                <div class="div-center">
                    <div>
                        <p class="{{.MyGameData.MessageClass}}">{{.MyGameData.Message}}</p>
                    <form action="/user/modify/update" method="post">
                        <label for="username">Pseudo :</label>
                        <input type="text" name="username" id="username" value="{{.MyUser.Name}}" required>
                        <label for="password" autofocus>Ancien mot de passe :</label>
                        <input type="password" name="password" id="password" required>
                        <label for="newPassword">Nouveau mot de passe :</label>
                        <input type="password" name="newPassword" id="newPassword" required>
                        <button type="submit">Valider</button>
                    </form>
                    <form action="/user/home" method="post">
                        <button type="submit">Annuler</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
{{end}}