<!DOCTYPE html>
{{define "scores"}}
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../static/css/styles.css" type="text/css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Homemade+Apple&display=swap" rel="stylesheet">
        <title>Scores - Hangman</title>
    </head>
    <body>
        <div class="allContent">
            <header class="banner">
                <a href="/user/home"><span class="material-symbols-outlined">arrow_back</span></a>
                <h1>Meilleurs scores</h1>
                <a href="/session/logout"><span class="material-symbols-outlined">logout</span></a>
            </header>
            <div class="mainContent">
                <div class="div-center">
                    <table class="tableScore">
                        <tr>
                            <th class="scoreCell scoreTitleCell">Rang</th>
                            <th class="scoreCell scoreTitleCell">Nom</th>
                            <th class="scoreCell scoreTitleCell">Score</th>
                            <th class="scoreCell scoreTitleCell">Mot</th>
                            <th class="scoreCell scoreTitleCell">Difficulté</th>
                            <th class="lastScoreCell lastScoreTitleCell">Dictionnaire</th>
                        </tr>
                        {{range $i, $game := .}}
                        <tr class="score">
                            <td class="scoreCell">{{$i}}</td>
                            <td class="scoreCell">{{$game.Name}}</td>
                            <td class="scoreCell">{{$game.Score}}</td>
                            <td class="scoreCell">{{$game.Word}}</td>
                            <td class="scoreCell">{{$game.Difficulty}}</td>
                            <td class="lastScoreCell">{{$game.Dictionary}}</td>
                        </tr>
                        {{end}}

                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
{{end}}